! Xcursor & Fonts
Xcursor.theme: Bibata-Modern-Ice
Xcursor.size: 24

! st defaults matching ~/.config/wezterm/wezterm.lua
st.font: IosevkaTerm Nerd Font:size=12:antialias=true:hinting=true
st.alpha: 1.0
st.borderpx: 6
st.foreground: #c0caf5
st.background: #111117
st.cursorColor: #c0caf5

st.color0:  #15161e
st.color1:  #f7768e
st.color2:  #9ece6a
st.color3:  #e0af68
st.color4:  #7aa2f7
st.color5:  #bb9af7
st.color6:  #7dcfff
st.color7:  #a9b1d6
st.color8:  #414868
st.color9:  #f7768e
st.color10: #9ece6a
st.color11: #e0af68
st.color12: #7aa2f7
st.color13: #bb9af7
st.color14: #7dcfff
st.color15: #c0caf5
